button {
    margin-left: 1.6%;
    margin-right: 0.6%;
    border: none;
    background: none;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
}

.button.edit {
    color: black;
}

.button.cancel {
    color:red;
}

.button__text,
.button_icon {
    display: inline-flex;
    align-items: center;
    height: 100%
}
