.button_row {
    position: relative;
    width: 100%;
    height: 25%;
    padding: 3%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1rem;

}